<!-- Excerpt -->
<article class="box excerpt">
    <header>
        <h3><%= link_to article.title, article %></a></h3>
    </header>
    <p>
        <%= article.small_content %>
    </p>
    <ul class="actions">
        <li><%= link_to 'En savoir plus', article, class: "button icon fa-file" %></li>
    </ul>
</article>l