<!-- Excerpt -->
<article class="box excerpt">
    <header>
      <h3><%= link_to t(article.title), article %></a></h3>
    </header>
    <p>
      <%= t(article.small_content) %>
    </p>
    <ul class="actions">
      <li><%= link_to t('more'), article, class: "button icon fa-file" %></li>
    </ul>
</article>