<!-- Excerpt -->
<article class="box excerpt">
    <header>
        <h3><a href="#"><%= article.title %></a></h3>
    </header>
    <p>
        <%= article.small_content %>
    </p>
    <ul class="actions">
        <li><a href="#" class="button icon fa-file">En savoir plus</a></li>
    </ul>
</article>