<div class="4u">
    <section>
        <%= link_to image_tag(article.small_picture), article, class: "image featured" %>
        <header>
          <h3><%= t(article.title) %></h3>
        </header>
        <p>
          <%= t(article.small_content) %>
        </p>
      <%= link_to t('read_more'), article, class: "button icon fa-plus-circle" %>
    </section>
</div>