<div class="4u">
    <section>
        <a href="#" class="image featured"><%= image_tag(article.small_picture) %></a>
        <header>
            <h3><%= article.title %></h3>
        </header>
        <p>
        <%= article.small_content %>
        </p>
        <a href="#"
           class="button icon fa-plus-circle">Lire la suite...</a>
    </section>
</div>