<section>
    <ul class="divided">
        <% articles.sample(3).each do |article| %>
            <li>
                <!-- Excerpt -->
                <%= render partial: 'articles/excerpt', locals: {article: article} %>
            </li>
        <% end %>
    </ul>
</section>

