

<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">

            <div id="content" class="8u">

                <!-- Post -->
                <article class="box post">
                    <header>
                        <h2 id="technologie"><%= @article.title %></h2>
                    </header>
                    <span class="image featured"><%= image_tag(@article.first_picture) %></span>
                    <%= @article.big_content.html_safe %>
                </article>

            </div>
            <!-- Sidebar -->
            <div id="sidebar" class="4u">
                <!-- Excerpts -->
                <%= render partial: 'articles/verticalexcerpt', locals: {articles: @articles} %>
            </div>
        </div>
    </div>
</div>


