<!-- Features -->
<div id="features-wrapper">
    <section id="features" class="container">
        <header>
            <h2>Une équipe de consultants seniors qui vous apporte une
                forte plus-value dans vos projets
            </h2>
        </header>
        <%= render partial: 'articles/horizontalshort', locals: {articles: @articles} %>
    </section>
</div>

