<!-- Features -->
<div id="features-wrapper">
    <section id="features" class="container">
        <header>
            <h2>U<%= t 'motto' %>
            </h2>
        </header>
        <%= render partial: 'articles/horizontalshort', locals: {articles: @toparticles} %>
    </section>
</div>

