<div class="homepage">
    <div id="contact-wrapper">
        <%= render 'form' %>
        <br>
        <%= link_to "Annuler", root_url, :class => "form-button-submit button icon fa-envelope" %>
    </div>
</div>